.background {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 50%;
  background-repeat: repeat-y;
}

.my-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-name {
  font-size: 5rem;
}

.my-position {
  font-size: 2.75rem;
}

.me {
  width: 20rem;
}

@media screen and (max-width: 1023px) {
  .background {
    display: none;
  }

  .my-container {
    flex-direction: column-reverse;
  }

  .my-name {
    font-size: 4rem;
    text-align: center;
  }

  .my-position {
    font-size: 1.75rem;
    text-align: center;
  }

  .me {
    padding-top: 2rem;
    width: 15rem;
  }
}
