.my-section {
  background-color: #59beb6;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  padding: 14rem 0;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  text-align: center;
}

.pics {
  width: 40vw;
  transition: transform 0.2s;
}

.pics:hover {
  transform: scale(1.05);
}

.my-text {
  width: 50%;
}

@media screen and (max-width: 769px) {
  .my-section {
    clip-path: polygon(0 10%, 100% 0, 100% 80%, 0% 100%);
    padding: 10rem 0;
  }
  .pics {
    width: 80vw;
  }

  .my-text {
    width: 90%;
    font-size: 1.25rem;
  }

  .my-title {
    font-size: 2.5rem;
  }
}
