.name {
  margin: 0;
  padding: 0;
  font-weight: 800;
}

.my-burger {
  background-color: white;
  border: none;
}

.my-burger:focus {
  outline: none;
}

.switch-button {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-flag {
  width: 24px;
  margin-right: 0.25rem;
}
